@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Migrate Trello to Microsoft Planner</h1>
    <p>Upload your Trello board json file and select what you would like to expert</p>
    <form method="post" enctype="multipart/form-data">
        <table>
            <tbody>
                <tr>
                    <td class="form-checkbox">
                        <input type="checkbox" asp-for="IncludeArchivedLists" checked="checked">
                        <label asp-for="IncludeArchivedLists">Archived Lists</label>
                    </td>
                    <td class="form-checkbox">
                        <input type="checkbox" asp-for="IncludeArchivedCards" checked="checked">
                        <label asp-for="IncludeArchivedCards">Archived Cards</label>
                    </td>
                </tr>
                <tr><td colspan="2" align="center"><input type="file" asp-for="Upload" /></td></tr>
                <tr><td></td></tr>
                <tr><td colspan="2" align="center"><input type="submit" /></td></tr>
            </tbody>
        </table>
    </form>
</div>
<br />
<br />
<br />
<div class="text-center" style="white-space:pre-line;">
    <h2 class="display-4">Your board</h2>
    <br />
    <p>
        @Model.TestDisplay
    </p>
</div>
