@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Testing Data</h1>
    @{
        var plans = ViewData["Plans"] as List<string>;
        @foreach(var plan in plans ?? new List<string> { "" })
        {
            <p>@plan</p>
        }
    }
</div>
<div class="text-center">
    <h1 class="display-4">Migrate Trello to Microsoft Planner</h1>
    <p>Upload your Trello board json file and select what you would like to expert</p>
    <form method="post" enctype="multipart/form-data">
        <table>
            <tbody>
                @*
                <tr>
                    <td class="form-checkbox">
                        <input type="checkbox" asp-for="IncludeArchivedLists" checked="checked">
                        <label asp-for="IncludeArchivedLists">Archived Lists</label>
                    </td>
                    <td class="form-checkbox">
                        <input type="checkbox" asp-for="IncludeArchivedCards" checked="checked">
                        <label asp-for="IncludeArchivedCards">Archived Cards</label>
                    </td>
                </tr>
                <tr><td colspan="2" align="center"><input type="file" asp-for="Upload" /></td></tr>
                *@
                <tr><td></td></tr>
                <tr><td colspan="2" align="center"><input type="submit" /></td></tr>
            </tbody>
        </table>
    </form>
</div>
@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center"><p>
    <h5 class="display-5">Enable your ASP.NET Core web app to sign in users and call Microsoft Graph with the Microsoft identity platform </h5>
    </p>
    <img src="https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/raw/master/2-WebApp-graph-user/2-1-Call-MSGraph/ReadmeFiles/sign-in.png" />
    <p>Integrate an ASP.NET Core web app with the Microsoft Identity platform and calls Microsoft Graph API for the signed-in user</p>
</div>
*@

